.root {
  width: 915px;
  margin: 75px;

  font-family: "Noto Sans KR";

  .profile {
    padding: 30px;
    border: 1px solid #7e7e7e;
    border-radius: 10px;

    > div:first-child {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .title {
        font-size: 20px;
        font-weight: 600;
        color: #000000;
        margin: 10px 20px;
      }
      .edit {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 49px;
        height: 28px;

        border: 1px solid #7e7e7e;
        border-radius: 5px;

        font-weight: 400;
        font-size: 14px;
        color: #7e7e7e;

        cursor: pointer;

        &:active {
          background: #7e7e7e;
          color: white;
        }
      }
    }

    > div:last-child {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      margin: 20px 50px;

      img {
        width: 180px;
        height: 180px;
        margin-right: 50px;
      }

      .imgContainer {
        position: relative;
        display: inline-block;
      }

      .editImg {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 10%;
        
        margin-top: 5px;

        width: 125px;
        height: 25px;

        border: 1px solid #7e7e7e;

        font-weight: 400;
        font-size: 14px;
        color: #7e7e7e;

        cursor: pointer;

        &:active {
          background: #7e7e7e;
          color: white;
        }
      }

      .info {
        height: 220px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;

        .infoData {
          margin: 5px;
          margin-right: 25px;

          label {
            font-size: 16px;
            font-weight: 600;
            margin: 10px 0px;
          }
          div {
            width: 230px;
            height: 25px;
            padding: 2.5px 5px;
            background: #ededed;
          }
          input {
            display: block;
            width: 230px;
            height: 25px;
            padding: 2.5px 5px;
            background: #ededed;

            border: none;
            outline: none;
          }
          select {
            display: block;
            width: 240px;
            height: 30px;
            padding: 2.5px 5px;
            background: #ededed;

            border: none;
            outline: none;

          }
        }
      }
    }
  }

  .writtens {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 20px 0px;

    .written {
      width: 445px;
      border: 1px solid #7e7e7e;
      border-radius: 10px;

      > div:first-child {
        width: 100%;
        display: flex;
        justify-content: space-between;
        > div {
          margin: 12.5px 30px;
          font-weight: 600;
          font-size: 18px;
        }
        .count {
          font-size: 16px;
        }
      }

      .preview {
        margin: 20px 30px;
        height: 156px;
        > a {
          display: flex;
          justify-content: space-between;

          color: black;
          text-decoration: none;
          margin: 10px 0px;
          .preContent {
            width: 120px;
            height: 25px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }
  }
}
