.root {
    width: 915px;
    margin: 75px;

    .view {
        padding: 40px;
        padding-bottom: 0px;
        min-height: 632px;

        border-radius: 10px;
        border: 1px solid var(--gray-dark, #7E7E7E);
        background: #FFF;

        .title {
            > * { display: inline-block; }
            
            > h2 {
                font-family: Noto Sans;
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: 32px;

                margin: 15px;
                width: 720px;
            }

            .option {
                > svg {
                    cursor: pointer;
                }

                > div {
                    position: absolute;
                    border: 1px solid #D9D9D9;
                    background: #FFF;
                    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                    transform: translateX(-40%);

                    text-align: center;

                    > div {
                        width: 85px;
                        height: 30px;
                        line-height: 30px;

                        font-size: 14px;

                        &:hover {
                            background: rgba(0, 0, 0, 0.05);
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .content {
            padding: 40px 0;
            border: 1px solid var(--gray-light, #E4E4E4);
            border-left: none;
            border-right: none;

            min-height: 420px;
        }

        .button {
            text-align: center;
            height: 100px;

            display: flex;
            align-items: center;
            justify-content: center;

            > input {
                width: 160px;
                height: 50px;

                border-radius: 10px;
                border: 1px solid #7E7E7E;
                background: #FFF;

                color: #000;
                font-family: Noto Sans;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;

                cursor: pointer;

                &:active {
                    background: rgba(0, 0, 0, 0.1);
                    color: #7E7E7E;
                }
            }
        }
    }
}
  